{% extends "base_notfullscreen.html" %}
{% block content %}
 <div id="content">
   <script>
(function($){ $(".service").addClass("active");})(jQuery);
	   </script><br>
	<div class="container">
				<div class="row">
					<div class="col-sm-12">

						<div class="headline">

							<h1>Решения и Услуги</h1>

						</div><!-- headline -->

					</div><!-- col -->
				</div><!-- row -->
			</div>
   <div class="container">
                <div class="row">
                    <div class="col-md-4">

                        <div class="elements-menu">
                        	<ul class="arrow-li12st nav">
                            	<li class="switch active"><a href="#infosecurity">Информационная безопасность</a></li>
                                <li class="switch"><a href="#itsystems">Вычислительная инфраструктура</a></li>
                                <li class="switch"><a href="#itsupport">Техническая поддержка</a></li>
                                <li class="switch"><a href="#consult">Консалтинг</a></li>
                                <li class="switch"><a href="#opensource">Опенсорс решения</a></li>
								<li class="switch"><a href="#sales">Поставки оборудования и ПО</a></li>
                            </ul>
                        </div><!-- elements-menu -->

                    </div><!-- col -->
                    <div class="col-md-8 col-sm-12">

						<div class="elements-section display" id="infosecurity">
                    		<div id="accordion1" class="panel-group">
								<p>Информационная безопасность — это всесторонняя защищенность информации и поддерживающей её инфраструктуры от любых случайных или злонамеренных воздействий, результатом
								которых может явиться нанесение ущерба самой информации, ее владельцам или поддерживающей инфраструктуре. Задачи информационной безопасности сводятся к минимизации ущерба,
								а также к прогнозированию и предотвращению таких воздействий. </p>
								<p>Для решения задач обеспечения информационной безопасности компания "Регнанс" предлагает следующие услуги в области технического обеспечения и поддержания надлежащего уровня защиты Вашего
								информационного пространства:</p>
												<ul class="arrow-list">
													<li>Создание комплексных систем защиты информации;</li>
													<li>Создание систем централизованного мониторинга и управления событиями информационной безопасности;</li>
													<li>Создание систем защиты веб-приложений;</li>
													<li>Создание систем защиты от несанкционнированного доступа</li>
													<li>Создание систем защиты государственных информационных систем</li>
													<li>Выполнение тестирования на проникновение;</li>
													<li>Создание систем защиты государственных информационных систем</li>
													<li>Создание систем защиты от таргетированных атак;</li>
													<li>Создание системы анализа защищенности</li>
													<li>Создание систем управления привелегированными пользователями</li>
													<li>Создание систем многофакторной аутентификация;</li>
													<li>Создание систем многофакторной аутентификация;</li>
													<li>Создание систем защиты сетевого периметра и внутрисетевого взаимодействия;</li>
												</ul>
								<p>Специалисты компании “Регнанс” обладают богатым опытом в области проектирования и создания систем защиты информации. Среди <a href="/clients">клиентов</a> нашей компании
									были как небольшие организации, так и крупные корпорации, что позволило нам получить ценный опыт. Все работы по построению КСЗИ проводятся строго в соответствии
									со всеми требования и применением исключительно современных технологий. Для того чтобы воспользоваться нашими услугами, достаточно <a href="/contact">связаться</a> с менеджером нашей
									компании. Он проведет консультацию по любы интересующим вопросам и подберет выгодные условия.</p>
								<div class="panel">
									<div class="panel-heading">

										<h5 class="panel-title">
											<a aria-expanded="false" href="#collapse01" data-parent="#accordion1" data-toggle="collapse" class="collapsed">Создание комплексных систем защиты информации</a>
										</h5>

									</div><!-- panel-heading -->
									<div class="panel-collapse collapse" id="collapse01" aria-expanded="false" style="height: 0px;">
										<div class="panel-body">

												<p>Комплексная система защиты информации (КСЗИ) представляет ряд организационных и инженерно-технических работ, которые проводятся для обеспечения защиты
													информационных данных от утечки, разглашения и несанкционированного доступа. Это самая глобальная концепция, обеспечивающая максимальную безопасность
													инфраструктуры в целом. В нее входят правовые, организационные, инженерные мероприятия, а также программно-аппаратные средства защиты:</p>
												<ul>
													<li>антивирусная защита;</li>
													<li>разграничение доступа к информационному ресурсу;</li>
													<li>защита от утечек по техническим каналам;</li>
													<li>защита от несанкционированного доступа;</li>
													<li>авторизация и аутентификация пользователей;</li>
													<li>тестирование на проникновение;</li>
													<li>сбор и мониторинг событий;</li>
													<li>и т.п.</li>

												</ul>

											<p>Специалисты компании “Регнанс” обладают богатым опытом в области проектирования и создания комплексных систем защиты информации. Среди <a href="/clients">клиентов</a> нашей компании
												были как небольшие организации, так и крупные корпорации, что позволило нам получить ценный опыт. Все работы по построению КСЗИ проводятся строго в соответствии
												со всеми требования и применением исключительно современных технологий. Для того чтобы воспользоваться нашими услугами, достаточно <a href="/contact">связаться</a> с менеджером нашей
												компании. Он проведет консультацию по любы интересующим вопросам и подберет выгодные условия.</p>

										</div><!-- panel-body -->
									</div><!-- panel-collapse -->
								</div><!-- panel -->

								<div class="panel">
									<div class="panel-heading">

										<h5 class="panel-title">
											<a aria-expanded="false" href="#collapse02" data-parent="#accordion1" data-toggle="collapse" class="collapsed">Системы централизованного мониторинга и управления событиями информационной безопасности</a>
										</h5>

									</div><!-- panel-heading -->
									<div class="panel-collapse collapse" id="collapse02" aria-expanded="false" style="height: 0px;">
										<div class="panel-body">

											<p>Для эффективного централизованного сбора, визуализации и корреляции событий информационной безопасности с различных систем информационного типа и средств защиты данных используют
												системы централизованного мониторинга и управления событиями ИБ (SIEM). При помощи подобных систем появилась возможность в автоматическом режиме определять угрозы хранимой
												информации, тем самым обеспечивать максимально оперативное реагирование на инциденты связанные с информационной безопасностью.</p>


											<p>Компания “Регнанс” осуществляет внедрение системы, которая способна решить комплекс задач по управлению событиями и их мониторингу, что позволит выйти совершенно на новый
												уровень информационной безопасности, в том числе:</p>
											<ul>
												<li>обеспечит организацию централизованного сбора, анализа и установка по приоритетам сообщений от источников различного уровня (межсетевых экранов, систем
													обнаружения вторжений, операционных систем, антивирусных систем, различных приложений, систем утечки информации, базы данных и пр.);</li>
												<li>выявит аномалии во время работы систем и предотвратит внутреннее мошенничество;</li>
												<li>визуализирует полученные данные в реальном времени и оповестит об инцидентах в информационной безопасности;</li>
												<li>повысить оперативность и эффективность расследования инцидентов ИБ;</li>
												<li>обеспечит соответствие требованиям стандартов информационной безопасности (СТО БР ИББС, PCI DSS и пр.).</li>
											</ul>

											<p>Если Вы хотите внедрить системы централизованного мониторинга и управления события информационной безопасности, обращайтесь в компанию “Регнанс” прямо сейчас.
												Мы гарантируем, что сотрудничая с нами, на вашем предприятии будет внедрена наиболее современная и подходящая для ваших целей система от отечественного или
												зарубежного разработчика. Процесс внедрения будут проводить опытные специалисты высокой квалификации, которые за время своей работы решали совершенно любые
												поставленные перед ними задачи. Если у вас остались какие-либо вопросы, достаточно <a href="/contact">позвонить или написать</a> нашему менеджеру-консультанту, и он даст исчерпывающий ответ на любой из них.</p>


										</div><!-- panel-body -->
									</div><!-- panel-collapse -->
								</div><!-- panel -->

								<div class="panel">
									<div class="panel-heading">

										<h5 class="panel-title">
											<a aria-expanded="false" href="#collapse1" data-parent="#accordion1" data-toggle="collapse" class="collapsed">Антивирусная защита</a>
										</h5>

									</div><!-- panel-heading -->
									<div class="panel-collapse collapse" id="collapse1" aria-expanded="false" style="height: 0px;">
										<div class="panel-body">

											<p>Phasellus rhoncus non mi sed faucibus. Donec sollicitudin posuere ante, in tristique velit pellentesque id.
											Nulla nibh arcu, cursus eu consectetur ut, tincidunt ac magna. Donec lobortis nunc turpis, vel ultricies lacus
											tincidunt sollicitudin posuere.</p>

										</div><!-- panel-body -->
									</div><!-- panel-collapse -->
								</div><!-- panel -->

								<div class="panel">
									<div class="panel-heading">

										<h5 class="panel-title">
											<a href="#collapse2" data-parent="#accordion1" data-toggle="collapse" class="collapsed" aria-expanded="false">Защита веб-приложений</a>
										</h5>

									</div><!-- panel-heading -->
									<div class="panel-collapse collapse" id="collapse2" aria-expanded="false" style="height: 0px;">
										<div class="panel-body">

											<p>Nullam interdum in purus non porttitor. Nulla mollis eu neque eu ornare. Proin eget placerat massa, ac maximus
											massa. Nullam bibendum et velit sed volutpat. Donec rutrum lobortis nunc turpis, vel ultricies lacus tincidunt
											porttitor nibh neque eu.</p>

										</div><!-- panel-body -->
									</div><!-- panel-collapse -->
								</div><!-- panel -->

								<div class="panel">
									<div class="panel-heading">

										<h5 class="panel-title">
											<a href="#collapse3" data-parent="#accordion1" data-toggle="collapse" class="collapsed" aria-expanded="false">Защита государственных информационных систем</a>
										</h5>

									</div><!-- panel-heading -->
									<div class="panel-collapse collapse" id="collapse3" aria-expanded="false">
										<div class="panel-body">

											<p>Aenean malesuada condimentum nisl, eu posuere leo porta sodales. Quisque semper faucibus nisl in maximus.
											Morbi blandit eget risus ut aliquam. Fusce eget lobortis nunc turpis, vel ultricies lacus tincidunt faucibus est, at
											molestie ex felis mi.</p>

										</div><!-- panel-body -->
									</div><!-- panel-collapse -->
								</div><!-- panel -->

								<div class="panel">
									<div class="panel-heading">

										<h5 class="panel-title">
											<a href="#collapse4" data-parent="#accordion1" data-toggle="collapse" class="collapsed" aria-expanded="false">Защита критически важных и промышленных объектов</a>
										</h5>

									</div><!-- panel-heading -->
									<div class="panel-collapse collapse" id="collapse4" aria-expanded="false" style="">
										<div class="panel-body">

											<p>Etiam tincidunt ligula nisl, nec tristique odio eleifend in. Phasellus mauris nibh, convallis vel ultrices vitae, auctor a metus. Aenean aliquam vel diam non auctor lobortis nunc turpis, vel ultricies lacus tincidunt eget risus ut
											aliquam auctor a metus.</p>

										</div><!-- panel-body -->
									</div><!-- panel-collapse -->
								</div><!-- panel -->

								<div class="panel">
									<div class="panel-heading">

										<h5 class="panel-title">
											<a href="#collapse5" data-parent="#accordion1" data-toggle="collapse" class="collapsed" aria-expanded="false">Защита от таргетированных атак (APT-атаки)</a>
										</h5>

									</div><!-- panel-heading -->
									<div class="panel-collapse collapse" id="collapse5" aria-expanded="false" style="">
										<div class="panel-body">

											<p>Etiam tincidunt ligula nisl, nec tristique odio eleifend in. Phasellus mauris nibh, convallis vel ultrices vitae, auctor a metus. Aenean aliquam vel diam non auctor lobortis nunc turpis, vel ultricies lacus tincidunt eget risus ut
											aliquam auctor a metus.</p>

										</div><!-- panel-body -->
									</div><!-- panel-collapse -->
								</div><!-- panel -->

								<div class="panel">
									<div class="panel-heading">

										<h5 class="panel-title">
											<a href="#collapse6" data-parent="#accordion1" data-toggle="collapse" class="collapsed" aria-expanded="false">Защита периметра сети</a>
										</h5>

									</div><!-- panel-heading -->
									<div class="panel-collapse collapse" id="collapse6" aria-expanded="false" style="">
										<div class="panel-body">

											<p>Etiam tincidunt ligula nisl, nec tristique odio eleifend in. Phasellus mauris nibh, convallis vel ultrices vitae, auctor a metus. Aenean aliquam vel diam non auctor lobortis nunc turpis, vel ultricies lacus tincidunt eget risus ut
											aliquam auctor a metus.</p>

										</div><!-- panel-body -->
									</div><!-- panel-collapse -->
								</div><!-- panel -->

								<div class="panel">
									<div class="panel-heading">

										<h5 class="panel-title">
											<a href="#collapse7" data-parent="#accordion1" data-toggle="collapse" class="collapsed" aria-expanded="false">Защита электронной почты и веб-трафика</a>
										</h5>

									</div><!-- panel-heading -->
									<div class="panel-collapse collapse" id="collapse7" aria-expanded="false" style="">
										<div class="panel-body">

											<p>Etiam tincidunt ligula nisl, nec tristique odio eleifend in. Phasellus mauris nibh, convallis vel ultrices vitae, auctor a metus. Aenean aliquam vel diam non auctor lobortis nunc turpis, vel ultricies lacus tincidunt eget risus ut
											aliquam auctor a metus.</p>

										</div><!-- panel-body -->
									</div><!-- panel-collapse -->
								</div><!-- panel -->

								<div class="panel">
									<div class="panel-heading">

										<h5 class="panel-title">
											<a href="#collapse8" data-parent="#accordion1" data-toggle="collapse" class="collapsed" aria-expanded="false">Криптографическая защита каналов связи</a>
										</h5>

									</div><!-- panel-heading -->
									<div class="panel-collapse collapse" id="collapse8" aria-expanded="false" style="">
										<div class="panel-body">

											<p>Etiam tincidunt ligula nisl, nec tristique odio eleifend in. Phasellus mauris nibh, convallis vel ultrices vitae, auctor a metus. Aenean aliquam vel diam non auctor lobortis nunc turpis, vel ultricies lacus tincidunt eget risus ut
											aliquam auctor a metus.</p>

										</div><!-- panel-body -->
									</div><!-- panel-collapse -->
								</div><!-- panel -->

								<div class="panel">
									<div class="panel-heading">

										<h5 class="panel-title">
											<a href="#collapse9" data-parent="#accordion1" data-toggle="collapse" class="collapsed" aria-expanded="false">Системы анализа защищенности</a>
										</h5>

									</div><!-- panel-heading -->
									<div class="panel-collapse collapse" id="collapse9" aria-expanded="false" style="">
										<div class="panel-body">

											<p>Etiam tincidunt ligula nisl, nec tristique odio eleifend in. Phasellus mauris nibh, convallis vel ultrices vitae, auctor a metus. Aenean aliquam vel diam non auctor lobortis nunc turpis, vel ultricies lacus tincidunt eget risus ut
											aliquam auctor a metus.</p>

										</div><!-- panel-body -->
									</div><!-- panel-collapse -->
								</div><!-- panel -->

								<div class="panel">
									<div class="panel-heading">

										<h5 class="panel-title">
											<a href="#collapse10" data-parent="#accordion1" data-toggle="collapse" class="collapsed" aria-expanded="false">Системы управление привилегированными пользователями</a>
										</h5>

									</div><!-- panel-heading -->
									<div class="panel-collapse collapse" id="collapse10" aria-expanded="false" style="">
										<div class="panel-body">

											<p>Etiam tincidunt ligula nisl, nec tristique odio eleifend in. Phasellus mauris nibh, convallis vel ultrices vitae, auctor a metus. Aenean aliquam vel diam non auctor lobortis nunc turpis, vel ultricies lacus tincidunt eget risus ut
											aliquam auctor a metus.</p>

										</div><!-- panel-body -->
									</div><!-- panel-collapse -->
								</div><!-- panel -->

								<div class="panel">
									<div class="panel-heading">

										<h5 class="panel-title">
											<a href="#collapse11" data-parent="#accordion1" data-toggle="collapse" class="collapsed" aria-expanded="false">Системы многофакторной аутентификации</a>
										</h5>

									</div><!-- panel-heading -->
									<div class="panel-collapse collapse" id="collapse11" aria-expanded="false" style="">
										<div class="panel-body">

											<p>Etiam tincidunt ligula nisl, nec tristique odio eleifend in. Phasellus mauris nibh, convallis vel ultrices vitae, auctor a metus. Aenean aliquam vel diam non auctor lobortis nunc turpis, vel ultricies lacus tincidunt eget risus ut
											aliquam auctor a metus.</p>

										</div><!-- panel-body -->
									</div><!-- panel-collapse -->
								</div><!-- panel -->

								<div class="panel">
									<div class="panel-heading">

										<h5 class="panel-title">
											<a href="#collapse12" data-parent="#accordion1" data-toggle="collapse" class="collapsed" aria-expanded="false">Системы предотвращения утечек информации (DLP)</a>
										</h5>

									</div><!-- panel-heading -->
									<div class="panel-collapse collapse" id="collapse12" aria-expanded="false" style="">
										<div class="panel-body">

											<p>Etiam tincidunt ligula nisl, nec tristique odio eleifend in. Phasellus mauris nibh, convallis vel ultrices vitae, auctor a metus. Aenean aliquam vel diam non auctor lobortis nunc turpis, vel ultricies lacus tincidunt eget risus ut
											aliquam auctor a metus.</p>

										</div><!-- panel-body -->
									</div><!-- panel-collapse -->
								</div><!-- panel -->
							</div>
                        </div><!-- elements-section -->
						<div style="display:none;" class="elements-section" id="itsystems">
                           <div id="accordion2" class="panel-group">

								<div class="panel">
									<div class="panel-heading">

										<h5 class="panel-title">
											<a aria-expanded="false" href="#collapse103" data-parent="#accordion2" data-toggle="collapse" class="collapsed">Вычислительная инфраструктра</a>
										</h5>

									</div><!-- panel-heading -->
									<div class="panel-collapse collapse" id="collapse103" aria-expanded="false" style="height: 0px;">
										<div class="panel-body">

											<p>Phasellus rhoncus non mi sed faucibus. Donec sollicitudin posuere ante, in tristique velit pellentesque id.
											Nulla nibh arcu, cursus eu consectetur ut, tincidunt ac magna. Donec lobortis nunc turpis, vel ultricies lacus
											tincidunt sollicitudin posuere.</p>

										</div><!-- panel-body -->
									</div><!-- panel-collapse -->
								</div><!-- panel -->

							   	<div class="panel">
									<div class="panel-heading">

										<h5 class="panel-title">
											<a aria-expanded="false" href="#collapse102" data-parent="#accordion2" data-toggle="collapse" class="collapsed">Системы виртуализации вычислительной инфраструктуры</a>
										</h5>

									</div><!-- panel-heading -->
									<div class="panel-collapse collapse" id="collapse102" aria-expanded="false" style="height: 0px;">
										<div class="panel-body">

											<p>Phasellus rhoncus non mi sed faucibus. Donec sollicitudin posuere ante, in tristique velit pellentesque id.
											Nulla nibh arcu, cursus eu consectetur ut, tincidunt ac magna. Donec lobortis nunc turpis, vel ultricies lacus
											tincidunt sollicitudin posuere.</p>

										</div><!-- panel-body -->
									</div><!-- panel-collapse -->
								</div><!-- panel -->

								<div class="panel">
									<div class="panel-heading">

										<h5 class="panel-title">
											<a href="#collapse104" data-parent="#accordion2" data-toggle="collapse" class="collapsed" aria-expanded="false">Корпоративные сети передачи данных</a>
										</h5>

									</div><!-- panel-heading -->
									<div class="panel-collapse collapse" id="collapse104" aria-expanded="false" style="height: 0px;">
										<div class="panel-body">

											<p>Nullam interdum in purus non porttitor. Nulla mollis eu neque eu ornare. Proin eget placerat massa, ac maximus
											massa. Nullam bibendum et velit sed volutpat. Donec rutrum lobortis nunc turpis, vel ultricies lacus tincidunt
											porttitor nibh neque eu.</p>

										</div><!-- panel-body -->
									</div><!-- panel-collapse -->
								</div><!-- panel -->

								<div class="panel">
									<div class="panel-heading">

										<h5 class="panel-title">
											<a href="#collapse105" data-parent="#accordion2" data-toggle="collapse" class="collapsed" aria-expanded="false">Системы резервного копирования</a>
										</h5>

									</div><!-- panel-heading -->
									<div class="panel-collapse collapse" id="collapse105" aria-expanded="false">
										<div class="panel-body">

											<p>Aenean malesuada condimentum nisl, eu posuere leo porta sodales. Quisque semper faucibus nisl in maximus.
											Morbi blandit eget risus ut aliquam. Fusce eget lobortis nunc turpis, vel ultricies lacus tincidunt faucibus est, at
											molestie ex felis mi.</p>

										</div><!-- panel-body -->
									</div><!-- panel-collapse -->
								</div><!-- panel -->

								<div class="panel">
									<div class="panel-heading">

										<h5 class="panel-title">
											<a href="#collapse106" data-parent="#accordion2" data-toggle="collapse" class="collapsed" aria-expanded="false">Системы хранения данных</a>
										</h5>

									</div><!-- panel-heading -->
									<div class="panel-collapse collapse" id="collapse106" aria-expanded="false" style="">
										<div class="panel-body">

											<p>Etiam tincidunt ligula nisl, nec tristique odio eleifend in. Phasellus mauris nibh, convallis vel ultrices vitae, auctor a metus. Aenean aliquam vel diam non auctor lobortis nunc turpis, vel ultricies lacus tincidunt eget risus ut
											aliquam auctor a metus.</p>

										</div><!-- panel-body -->
									</div><!-- panel-collapse -->
								</div><!-- panel -->

								<div class="panel">
									<div class="panel-heading">

										<h5 class="panel-title">
											<a href="#collapse107" data-parent="#accordion2" data-toggle="collapse" class="collapsed" aria-expanded="false">Системы мониторинга ИТ-инфраструктуры</a>
										</h5>

									</div><!-- panel-heading -->
									<div class="panel-collapse collapse" id="collapse107" aria-expanded="false" style="">
										<div class="panel-body">

											<p>Etiam tincidunt ligula nisl, nec tristique odio eleifend in. Phasellus mauris nibh, convallis vel ultrices vitae, auctor a metus. Aenean aliquam vel diam non auctor lobortis nunc turpis, vel ultricies lacus tincidunt eget risus ut
											aliquam auctor a metus.</p>

										</div><!-- panel-body -->
									</div><!-- panel-collapse -->
								</div><!-- panel -->

							   <div class="panel">
									<div class="panel-heading">

										<h5 class="panel-title">
											<a aria-expanded="false" href="#collapse101" data-parent="#accordion2" data-toggle="collapse" class="collapsed">Создание беспроводных сетей связи (Wi-Fi)</a>
										</h5>

									</div><!-- panel-heading -->
									<div class="panel-collapse collapse" id="collapse101" aria-expanded="false" style="height: 0px;">
										<div class="panel-body">

											<p>Phasellus rhoncus non mi sed faucibus. Donec sollicitudin posuere ante, in tristique velit pellentesque id.
											Nulla nibh arcu, cursus eu consectetur ut, tincidunt ac magna. Donec lobortis nunc turpis, vel ultricies lacus
											tincidunt sollicitudin posuere.</p>

										</div><!-- panel-body -->
									</div><!-- panel-collapse -->
								</div><!-- panel -->


							</div>

						</div><!-- elements-section -->
						<div style="display:none;" class="elements-section" id="itsupport">

                           <div class="headline">
                              <h3>Техническая поддержка</h3>
                           </div><!-- headline -->
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim.</p>

                        </div><!-- elements-section -->
						<div style="display:none;" class="elements-section" id="consult">
                           <div class="headline">
                              <h3>Консалтинг</h3>
                           </div><!-- headline -->
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim.</p>
                        </div><!-- elements-section -->
						<div style="display:none;" class="elements-section" id="opensource">
                           <div class="headline">
                              <h3>Решения на базе Open-Source</h3>
                           </div><!-- headline -->
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim.</p>
                        </div><!-- elements-section -->
                        <div style="display:none;" class="elements-section" id="sales">
                           <div class="headline">
                              <h3>Решения на базе Open-Source</h3>
                           </div><!-- headline -->
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim.</p>
                        </div><!-- elements-section -->
					</div><!-- col -->
				</div><!-- row -->
			</div><!-- container -->

 </div><!-- CONTENT -->
{% endblock %}
