{% extends "base_notfullscreen.html" %}
{% block content %}
 <div id="content">
   <script>
(function($){ $(".service").addClass("active");})(jQuery);
	   </script><br>
	<div class="container">
				<div class="row">
					<div class="col-sm-12">

						<div class="headline">

							<h1>Решения и Услуги</h1>

						</div><!-- headline -->

					</div><!-- col -->
				</div><!-- row -->
			</div>
   <div class="container">
				<div class="row">
					<div class="col-sm-4">

						<div class="service-box style-2 wow fadeInDown">

							<i><img src="../static/images/icon/shield-with-thumb-up.png"></i>

							<div class="service-box-content">

								<h5><a href="/service/infosecurity">Информационная безопасность</a></h5>

								<p>Обеспечим безопасность Вашей ИТ инфраструктуры.</p>

								<p><a href="/service/infosecurity">Узнать больше...</a></p>

							</div><!-- service-box-content -->

						</div><!-- service-box -->

					</div><!-- col -->
					<div class="col-sm-4">

						<div class="service-box style-2 wow fadeInDown" data-wow-delay="0.2s">

							<i><img src="../static/images/icon/servers-interface-symbol.png"></i>

							<div class="service-box-content">

								<h5><a href="/service/itsystems">Вычислительная инфраструктура</a></h5>

								<p>Создадим, модернизируем Вашу ИТ инфраструктуру</p>

								<p><a href="/service/itsystems">Узнать больше...</a></p>

							</div><!-- service-box-content -->

						</div><!-- service-box -->

					</div><!-- col -->
					<div class="col-sm-4">

						<div class="service-box style-2 wow fadeInDown" data-wow-delay="0.4s">

							<i><img src="../static/images/icon/screen.png" alt=""></i>

							<div class="service-box-content">

								<h5><a href="/service/itsupport">Техническая поддержка</a></h5>

								<p>Настроим, починим и заставим работать Ваши ИТ ресурсы</p>

								<p><a href="/service/itsupport">Узнать больше...</a></p>

							</div><!-- service-box-content -->

						</div><!-- service-box -->

					</div><!-- col -->
				</div><!-- row -->
			</div><!-- container -->


			<div class="container">
				<div class="row">
					<div class="col-sm-4">

						<div class="service-box style-2 wow fadeInDown">

							<i><img src="../static/images/icon/consulting.png"></i>

							<div class="service-box-content">

								<h5><a href="/service/consult">Консалтинг</a></h5>

								<p>Приведем в соответствие с лучшимм ИТ и ИБ нормативами Вашу ИТ-инфраструктуру</p>

								<p><a href="/service/consult">Узнать больше...</a></p>


							</div><!-- service-box-content -->

						</div><!-- service-box -->

					</div><!-- col -->
					<div class="col-sm-4">

						<div class="service-box style-2 wow fadeInDown" data-wow-delay="0.2s">

							<i><img src="../static/images/icon/opensource.png"></i>

							<div class="service-box-content">

								<h5><a href="/service/opensource">Опенсорс решения</a></h5>

								<p>Качественно и в срок обеспечим Ваши нужды в открытых технологиях</p>

								<p><a href="/service/opensource">Узнать больше...</a></p>

							</div><!-- service-box-content -->

						</div><!-- service-box -->

					</div><!-- col -->
					<div class="col-sm-4">

						<div class="service-box style-2 wow fadeInDown" data-wow-delay="0.4s">

							<i><img src="../static/images/icon/screen-and-computer-tower.png"></i>

							<div class="service-box-content">

								<h5><a href="/service/sales">Поставки оборудования и ПО</a></h5>

								<p>Обеспечим оптимальное соотношение параметров цена и функциональность</p>

								<p><a href="/service/sales">Узнать больше...</a></p>

							</div><!-- service-box-content -->

						</div><!-- service-box -->

					</div><!-- col -->
				</div><!-- row -->
			</div><!-- container -->

 </div><!-- CONTENT -->
{% endblock %}
