{% extends "base_notfullscreen.html" %}
{% block content %}
 <div id="content">
   <script>
(function($){ $(".service").addClass("active");})(jQuery);
	   </script><br>
	<div class="container">
				<div class="row">
					<div class="col-sm-12">

						<div class="headline">

							<h1>Решения и Услуги</h1>

						</div><!-- headline -->

					</div><!-- col -->
				</div><!-- row -->
			</div>
   <div class="container">
                <div class="row">
                    <div class="col-md-4">

                        <div class="elements-menu">
                        	<ul class="arrow-li12st nav">
                            	<li class="switch"><a href="#infosecurity">Информационная безопасность</a></li>
                                <li class="switch"><a href="#itsystems">Вычислительная инфраструктура</a></li>
                                <li class="switch"><a href="#itsupport">Техническая поддержка</a></li>
                                <li class="switch"><a href="#consult">Консалтинг</a></li>
                                <li class="switch active"><a href="#opensource">Опенсорс решения</a></li>
								<li class="switch"><a href="#sales">Поставки оборудования и ПО</a></li>
                            </ul>
                        </div><!-- elements-menu -->

                    </div><!-- col -->
                    <div class="col-md-8 col-sm-12">

						<div style="display:none;"  class="elements-section" id="infosecurity">
                    		<div id="accordion1" class="panel-group">
								<p>Информационная безопасность — это всесторонняя защищенность информации и поддерживающей её инфраструктуры от любых случайных или злонамеренных воздействий, результатом
								которых может явиться нанесение ущерба самой информации, ее владельцам или поддерживающей инфраструктуре. Задачи информационной безопасности сводятся к минимизации ущерба,
								а также к прогнозированию и предотвращению таких воздействий. </p>
								<p>Для решения задач обеспечения информационной безопасности компания «Регнанс» предлагает следующие услуги в области технического обеспечения и поддержания надлежащего уровня
									защиты Вашего информационного пространства:</p>
												<ul class="arrow-list">
													<li>Создание комплексных систем защиты информации;</li>
													<li>Создание систем централизованного мониторинга и управления событиями информационной безопасности;</li>
													<li>Создание систем защиты веб-приложений;</li>
													<li>Cоздание систем автоматизированного анализа исходного кода;</li>
													<li>Создание систем защиты от несанкционнированного доступа;</li>
													<li>Создание систем защиты государственных информационных систем;</li>
													<li>Выполнение тестирования на проникновение;</li>
													<li>Создание систем защиты от таргетированных атак;</li>
													<li>Создание систем анализа защищенности;</li>
													<li>Создание систем управления привилегированными пользователями;</li>
													<li>Создание систем многофакторной аутентификации;</li>
													<li>Создание систем защиты сетевого периметра и внутрисетевого взаимодействия;</li>
												</ul>
								<p>Специалисты компании «Регнанс» обладают богатым опытом в области проектирования и создания систем защиты информации. Среди <a href="/clients">клиентов</a> нашей компании
									были, как небольшие организации, так и крупные корпорации, что позволило нам получить ценный опыт. Все работы по построению КСЗИ проводятся строго в соответствии
									со всеми требования и применением исключительно современных <a href="/partners">технологий</a>. Для того чтобы воспользоваться нашими услугами, достаточно <a href="/contact">связаться</a> с менеджером нашей
									компании. Он проведет консультацию по любым интересующим вопросам и подберет выгодные условия.</p>
							</div>
                        </div><!-- elements-section -->
						<div style="display:none;" class="elements-section" id="itsystems">
                           <div id="accordion2" class="panel-group">

								<p>Информационно-вычислительная инфраструктура представляет собой комплекс серверных и сетевых программно-аппаратных комплексов, а также общесистемного и прикладного программного обеспечения,
									обеспечивающее в совокупности автоматизацию бизнес процессов Вашей организации. Задачи построения информационно-вычислительной инфраструктуры сводятся к повышению эффективности
									работы Вашей организации за счет использования современных технологий организации хранения, обработки и получения информации Вашими сотрудниками и клиентами.</p>
							   <p>Для решения задач построения информационно-вычислительной инфраструктуры компания «Регнанс» предлагает следующие услуги в области технического обеспечения и поддержания надлежащего уровня
								   информатизации Вашей организации:
							   </p>
																				<ul class="arrow-list">
													<li>Проектирование и внедрение серверных комплексов;</li>
													<li>Проектирование и внедрение систем виртуализации;</li>
													<li>Проектирование и внедрение корпоративных сетей передачи данных;</li>
													<li>Проектирование и внедрение систем резервного копирования;</li>
													<li>Проектирование и внедрение систем и сетей хранения данных;</li>
													<li>Проектирование и внедрение систем мониторинга ИТ-инфраструктуры;</li>
													<li>Проектирование и внедрение беспроводных сетей связи (Wi-Fi)</li>
												</ul>
								<p>Специалисты компании «Регнанс» обладают достаточным опытом в области проектирования и создания информационно-вычислительных инфраструктур. Среди <a href="/clients">клиентов</a> нашей компании
									были как небольшие организации, так и крупные корпорации, что позволило нам получить ценный опыт. Все работы по построению информационно-вычислительной инфраструктуры проводятся строго в соответствии
									со всеми требованиями и применением исключительно современных <a href="/partners">технологий</a>. Для того чтобы воспользоваться нашими услугами, достаточно <a href="/contact">связаться</a> с менеджером нашей
									компании. Он проведет консультацию по любым интересующим вопросам и подберет выгодные условия.</p>
							</div>
						</div>
						<div style="display:none;" class="elements-section" id="itsupport">
                           <p>Компания «Регнанс» предлагает услуги по предоставлению технической поддержки ИТ и ИБ инфраструктуры. В рамках оказания услуг мы предлагаем следующий комплекс
							   организационных и технических мероприятий:</p>
												<ul class="arrow-list">
													<li>Оказание оперативной помощи по восстановлению работоспособности ИТ и ИБ инфраструктуры при возникновении аварийных ситуаций;</li>
													<li>Проведение сервисных мероприятий, включая:</li>
													<ul class="without-marker">
														<li>инсталляцию обновлений программного обеспечения;</li>
														<li>резервное копирование и восстановление данных;</li>
														<li>внесение изменений в конфигурацию эксплуатируемых компонент ИТ-инфраструктуры;</li>
														<li>ввод/вывод в/из экплуатации единичных экземпляров ИТ-инфраструктуры, совпадающих по типу и характеристикам с эксплуатируемыми.</li>
													</ul>
													<li>Аналитическое сопровождение систем информационной безопасности, включая:</li>
													<ul class="without-marker">
														<li>Оптимизацию и контроль правил срабатывания средств защиты сетевого пертиметра и веб-ресурсов;</li>
														<li>Разработку контента для систем сбора и анализа событий информационной безопасности (SIEM системы HP ArcSight, IBM Qradar).</li>
													</ul>
													<li>Предоставление консультаций и технической информации, включая:</li>
													<ul class="without-marker">
														<li>Информацию связанную с эксплуатацией компонент ИТ-инфраструктуры;</li>
														<li>Информацию, необходимую для ввода в эксплуатацию новых систем, затрагивающих работоспособность компонент ИТ-инфраструктуры.</li>
													</ul>
												</ul>
							<p>Специалисты компании «Регнанс» обладают богатым опытом в области оказания технической поддержки. Среди <a href="/clients">клиентов</a> нашей компании
									были как небольшие организации, так и крупные корпорации, что позволило нам получить ценный опыт. Для того чтобы воспользоваться нашими услугами, достаточно <a href="/contact">связаться</a> с менеджером нашей
									компании. Он проведет консультацию по любым интересующим вопросам и подберет выгодные условия.</p>

                        </div><!-- elements-section -->
						<div style="display:none;" class="elements-section" id="consult">
                           <p>Компания «Регнанс» предлагает следующие услуги в области консультационных услуг:</p>
												<ul class="arrow-list">
													<li>Аудит состояния процесса обеспечения информационной безопасности Вашей компании;</li>
													<li>Аудит состояния информационно-вычислительной инфраструктуры Вашей компании;</li>
													<li>Аудит выполнения требований законодательства по защите персональных данных (152-ФЗ);</li>
													<li>Приведение в соответствие требованиям стандарта PCI DSS;</li>
													<li>Выполнение требований законодательства по защите информации при осуществлении переводов денежных средств (161-ФЗ);</li>
													<li>Построение системы менеджмента информационной безопасности в соответствие с требованиями стандарта ISO 27001;</li>
													<li>Построение системы обеспечения информационной безопасности в соответствие с требованиями стандарта СТО БР ИБСС.</li>
												</ul>
							<p>Специалисты компании «Регнанс» обладают богатым опытом в области выполнения консалтинговых работ. Среди <a href="/clients">клиентов</a> нашей компании
								были как небольшие организации, так и крупные корпорации, что позволило нам получить ценный опыт. Для того чтобы воспользоваться нашими услугами, достаточно
								<a href="/contact">связаться</a> с менеджером нашей компании. Он проведет консультацию по любым интересующим вопросам и подберет выгодные условия.</p>
                        </div><!-- elements-section -->
						<div class="elements-section display" id="opensource">
                           <p>Компания «Регнанс» предлагает работы по внедрению и дальнейшему сопровождение решений на базе программного обеспечения с открытым исходным кодом:</p>
												<ul class="arrow-list">
													<li>Системы контроля целостности файлов c использованием программного обеспечения <a href="http://ossec.github.io">OSSEC</a>;</li>
													<li>Системы сбора, хранения и поиска информации логгирования событий на базе стека технологий <a href="https://www.elastic.co/products/elasticsearch">Elasticsearch</a>, <a href="https://www.elastic.co/products/kibana">Kibana</a>, <a href="https://www.elastic.co/products/logstash">Logstash</a>, <a href="http://nxlog.org/">Nxlog</a>;</li>
												</ul>
							<p>Специалисты компании «Регнанс» обладают богатым опытом в области построения систем на базе программного обеспечения с открытым исходным кодом. Для <a href="/clients">клиентов</a> нашей компании
								мы выполняли проекты по приведению в соответствие техническим требованиям стандарта PCI DSS. Для того чтобы воспользоваться нашими услугами, достаточно <a href="/contact">связаться</a> с менеджером нашей компании.
								Он проведет консультацию по любы интересующим вопросам и подберет выгодные условия.</p>
                        </div><!-- elements-section -->
                        <div style="display:none;" class="elements-section" id="sales"><!-- headline -->
                           <p>Для получения коммерческого предложения по интересующему Вас программному обеспечению и программно-аппаратным комплексам из пула наших <a href="/partners">партнеров</a>, достаточно <a href="/contact">связаться</a> с менеджером нашей компании
							   и Вы получите консультацию по любым интересующим вопросам и подберете оптимальную, по соотношению цена/функциональность конфигурацию оборудования и программного обеспечения.</p>
                        </div><!-- elements-section -->
					</div><!-- col -->
				</div><!-- row -->
			</div><!-- container -->

 </div><!-- CONTENT -->
{% endblock %}
