{% extends "base.html" %}
{% block content %}
	<div class="home-block">
		<div class="container">
						<div class="row">
							<div class="col-sm-12 text-center">

								<h1 class="rotate" data-rotate-type="fadeIn" data-rotate-speed="10000">
									Технологии как преимущество
								</h1>

								<p class="rotate" data-rotate-type="fadeIn" data-rotate-speed="10000"> </p>

							</div><!-- col -->
						</div><!-- row -->
					</div><!-- container -->
		<div class="container" style="margin-top: 10%;">
						<div class="row">
							<div class="col-sm-3">
							<div class="service-box style-6">
								<div class="service-box-image">
									<img alt="" src="images/services/image-4.jpg">
								</div>
								<div class="service-box-content">
									<h4>
										<a href="#">Planning</a>
									</h4>
										<p>Mauris in aliquam nisi, eu mollis erat. Proin porta auctor erat, non euismod.</p>

								</div>
							</div>
						</div>
							<div class="col-sm-3">
							<div class="service-box style-6">
								<div class="service-box-image">
									<img alt="" src="images/services/image-4.jpg">
								</div>
								<div class="service-box-content">
									<h4>
										<a href="#">Planning</a>
									</h4>
										<p>Mauris in aliquam nisi, eu mollis erat. Proin porta auctor erat, non euismod.</p>

								</div>
							</div>
						</div>
							<div class="col-sm-3">
							<div class="service-box style-6">
								<div class="service-box-image">
									<img alt="" src="images/services/image-4.jpg">
								</div>
								<div class="service-box-content">
									<h4>
										<a href="#">Planning</a>
									</h4>
										<p>Mauris in aliquam nisi, eu mollis erat. Proin porta auctor erat, non euismod.</p>

								</div>
							</div>
						</div>
							<div class="col-sm-3">
							<div class="service-box style-6">
								<div class="service-box-image">
									<img alt="" src="images/services/image-4.jpg">
								</div>
								<div class="service-box-content">
									<h4>
										<a href="#">Planning</a>
									</h4>
										<p>Mauris in aliquam nisi, eu mollis erat. Proin porta auctor erat, non euismod.</p>

								</div>
							</div>
						</div>
						</div>
					</div>
    </div><!-- PAGE-WRAPPER -->
{% endblock %}
