{% extends "base.html" %}
{% block content %}
        <div>
            <section >
				<div class="full-section-container">
					<div class="container">
						<div class="row">
							<div class="col-sm-12 text-center">

								<h1 class="rotate" data-rotate-type="fadeIn" data-rotate-speed="10000">
									Технологичность ,
									Video Background,
									Responsive &amp; Retina Ready
								</h1>

								<p class="rotate" data-rotate-type="fadeIn" data-rotate-speed="10000">Основа успеха Ваше, designed with love, for themeforest. It’s time to take one <br class="hidden-xs">
								step forward and embrace the new clean & minimal design based on a classic business web structure. </p>

							</div><!-- col -->
						</div><!-- row -->
					</div><!-- container -->

					<div class="container">
						<div class="row">
							<div class="col-sm-3">
							<div class="service-box style-6">
								<div class="service-box-image">
									<img alt="" src="images/services/image-4.jpg">
								</div>
								<div class="service-box-content">
									<h4>
										<a href="#">Planning</a>
									</h4>
										<p>Mauris in aliquam nisi, eu mollis erat. Proin porta auctor erat, non euismod.</p>

								</div>
							</div>
						</div>
							<div class="col-sm-3">
							<div class="service-box style-6">
								<div class="service-box-image">
									<img alt="" src="images/services/image-4.jpg">
								</div>
								<div class="service-box-content">
									<h4>
										<a href="#">Planning</a>
									</h4>
										<p>Mauris in aliquam nisi, eu mollis erat. Proin porta auctor erat, non euismod.</p>

								</div>
							</div>
						</div>
							<div class="col-sm-3">
							<div class="service-box style-6">
								<div class="service-box-image">
									<img alt="" src="images/services/image-4.jpg">
								</div>
								<div class="service-box-content">
									<h4>
										<a href="#">Planning</a>
									</h4>
										<p>Mauris in aliquam nisi, eu mollis erat. Proin porta auctor erat, non euismod.</p>

								</div>
							</div>
						</div>
							<div class="col-sm-3">
							<div class="service-box style-6">
								<div class="service-box-image">
									<img alt="" src="images/services/image-4.jpg">
								</div>
								<div class="service-box-content">
									<h4>
										<a href="#">Planning</a>
									</h4>
										<p>Mauris in aliquam nisi, eu mollis erat. Proin porta auctor erat, non euismod.</p>

								</div>
							</div>
						</div>
						</div>
					</div>
				</div><!-- full-section-container -->


			</section><!-- full-section -->
        <!-- FOOTER -->

    </div><!-- PAGE-WRAPPER -->
{% endblock %}
