{% extends "base_notfullscreen.html" %}
{% block content %}
   <div id="content">
	   <script>
	   (function($){$(".partners").addClass("active");})(jQuery);
	   </script>
	<br>
			<div class="container">
				<div class="row">
					<div class="col-sm-12">

						<div class="headline">

							<h1>Наши партнеры</h1>

						</div><!-- headline -->

					</div><!-- col -->
				</div><!-- row -->
			</div> <!-- О компании -->
	   		<div class="container">
                <div class="row">
                    <div class="col-sm-12">

                        <ul class="filter">
                            <li>
                                <a class="active" href="#" data-filter="*">Все партнеры</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".categ-1">ИТ вендоры</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".categ-2">ИБ вендоры</a>
                            </li>
                        </ul>

                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- container -->
			<div class="container">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="isotope col-4 gutter">

							<div class="isotope-item categ-1 categ-2">

								<div class="portfolio-item">

									<div class="portfolio-item-thumbnail">

										<img src="../static/images/portfolio/hp.jpg" alt="">

										<div class="portfolio-item-hover">

											<div class="portfolio-item-details">

												<p>
													<a href="https://www.hpe.com/ru/ru/home.html" rel="external">Сайт компании</a>
												<p>

											</div><!-- portfolio-item-details -->

										</div><!-- portfolio-item-hover -->

									</div><!-- portfolio-item-thumbnail -->

								</div><!-- portfolio-item -->

							</div><!-- HP-item -->

							<div class="isotope-item categ-1 categ-2">

								<div class="portfolio-item">

									<div class="portfolio-item-thumbnail">

										<img src="../static/images/portfolio/ibm.jpg" alt="">

										<div class="portfolio-item-hover">

											<div class="portfolio-item-details">

												<p>
													<a href="http://www.ibm.com/ru-ru" rel="external">Сайт компании</a>
												<p>

											</div><!-- portfolio-item-details -->


										</div><!-- portfolio-item-hover -->

									</div><!-- portfolio-item-thumbnail -->

								</div><!-- portfolio-item -->

							</div><!-- IBM-item -->

							<div class="isotope-item categ-2">

								<div class="portfolio-item">

									<div class="portfolio-item-thumbnail">

										<img src="../static/images/portfolio/imperva.jpg" alt="">

										<div class="portfolio-item-hover">

											<div class="portfolio-item-details">

												<p>
													<a href="http://www.imperva.com/" rel="external">Сайт компании</a>
												<p>
											</div><!-- portfolio-item-details -->

										</div><!-- portfolio-item-hover -->

									</div><!-- portfolio-item-thumbnail -->

								</div><!-- portfolio-item -->

							</div><!-- imperva-item -->

							<div class="isotope-item categ-2">

								<div class="portfolio-item">

									<div class="portfolio-item-thumbnail">

										<img src="../static/images/portfolio/paloalto.jpg" alt="">

										<div class="portfolio-item-hover">

											<div class="portfolio-item-details">

												<p>
													<a href="https://www.paloaltonetworks.com" rel="external">Сайт компании</a>
												<p>
											</div><!-- portfolio-item-details -->


										</div><!-- portfolio-item-hover -->

									</div><!-- portfolio-item-thumbnail -->

								</div><!-- portfolio-item -->

							</div><!-- PaloAlto-item -->

							<div class="isotope-item categ-2">

								<div class="portfolio-item">

									<div class="portfolio-item-thumbnail">

										<img src="../static/images/portfolio/mcafee.jpg" alt="">

										<div class="portfolio-item-hover">

											<div class="portfolio-item-details">

												<p>
													<a href="http://www.mcafee.com/" rel="external">Сайт компании</a>
												<p>

											</div><!-- portfolio-item-details -->


										</div><!-- portfolio-item-hover -->

									</div><!-- portfolio-item-thumbnail -->

								</div><!-- portfolio-item -->

							</div><!-- mcafee-item -->

							<div class="isotope-item categ-2">

								<div class="portfolio-item">

									<div class="portfolio-item-thumbnail">

										<img src="../static/images/portfolio/symantec.jpg" alt="">

										<div class="portfolio-item-hover">

											<div class="portfolio-item-details">

												<p>
													<a href="https://www.symantec.com" rel="external">Сайт компании</a>
												<p>

											</div><!-- portfolio-item-details -->


										</div><!-- portfolio-item-hover -->

									</div><!-- portfolio-item-thumbnail -->

								</div><!-- portfolio-item -->

							</div><!-- symantec-item -->

							<div class="isotope-item categ-2">

								<div class="portfolio-item">

									<div class="portfolio-item-thumbnail">

										<img src="../static/images/portfolio/RSA.jpg" alt="">

										<div class="portfolio-item-hover">

											<div class="portfolio-item-details">

												<p>
													<a href="http://www.emc.com/domains/rsa/index.htm" rel="external">Сайт компании</a>
												<p>

											</div><!-- portfolio-item-details -->


										</div><!-- portfolio-item-hover -->

									</div><!-- portfolio-item-thumbnail -->

								</div><!-- portfolio-item -->

							</div><!-- rsa-item -->

							<div class="isotope-item categ-2">

								<div class="portfolio-item">

									<div class="portfolio-item-thumbnail">

										<img src="../static/images/portfolio/fortinet.jpg" alt="">

										<div class="portfolio-item-hover">

											<div class="portfolio-item-details">

												<p>
													<a href="http://www.fortinet.com/" rel="external">Сайт компании</a>
												<p>


											</div><!-- portfolio-item-details -->


										</div><!-- portfolio-item-hover -->

									</div><!-- portfolio-item-thumbnail -->

								</div><!-- portfolio-item -->

							</div><!-- fortinet-item -->

							<div class="isotope-item categ-2">

								<div class="portfolio-item">

									<div class="portfolio-item-thumbnail">

										<img src="../static/images/portfolio/pineapp.jpg" alt="">

										<div class="portfolio-item-hover">

											<div class="portfolio-item-details">

												<p>
													<a href="http://www2.pineapp.com/" rel="external">Сайт компании</a><br>
												<p>

											</div><!-- portfolio-item-details -->


										</div><!-- portfolio-item-hover -->

									</div><!-- portfolio-item-thumbnail -->

								</div><!-- portfolio-item -->

							</div><!-- pineapp-item -->

							<div class="isotope-item categ-2">

								<div class="portfolio-item">

									<div class="portfolio-item-thumbnail">

										<img src="../static/images/portfolio/infowatch.jpg" alt="">

										<div class="portfolio-item-hover">

											<div class="portfolio-item-details">

												<p>
													<a href="http://www.infowatch.ru/" rel="external">Сайт компании</a>
												<p>


											</div><!-- portfolio-item-details -->


										</div><!-- portfolio-item-hover -->

									</div><!-- portfolio-item-thumbnail -->

								</div><!-- portfolio-item -->

							</div><!-- infowatch-item -->

							<div class="isotope-item categ-2">

								<div class="portfolio-item">

									<div class="portfolio-item-thumbnail">

										<img src="../static/images/portfolio/solarsecurity.jpg" alt="">

										<div class="portfolio-item-hover">

											<div class="portfolio-item-details">

												<p>
													<a href="http://solarsecurity.ru/" rel="external">Сайт компании</a>
												<p>


											</div><!-- portfolio-item-details -->


										</div><!-- portfolio-item-hover -->

									</div><!-- portfolio-item-thumbnail -->

								</div><!-- portfolio-item -->

							</div><!-- solarsecurity-item -->

							<div class="isotope-item categ-2">

								<div class="portfolio-item">

									<div class="portfolio-item-thumbnail">

										<img src="../static/images/portfolio/easysolutions.jpg" alt="">

										<div class="portfolio-item-hover">

											<div class="portfolio-item-details">

												<p>
													<a href="https://www.easysol.net/" rel="external">Сайт компании</a>
												<p>


											</div><!-- portfolio-item-details -->


										</div><!-- portfolio-item-hover -->

									</div><!-- portfolio-item-thumbnail -->

								</div><!-- portfolio-item -->

							</div><!-- easysolutions-item -->

							<div class="isotope-item categ-2">

								<div class="portfolio-item">

									<div class="portfolio-item-thumbnail">

										<img src="../static/images/portfolio/qualys.jpg" alt="">

										<div class="portfolio-item-hover">

											<div class="portfolio-item-details">

												<p>
													<a href="https://www.qualys.com/" rel="external">Сайт компании</a>
												<p>

											</div><!-- portfolio-item-details -->


										</div><!-- portfolio-item-hover -->

									</div><!-- portfolio-item-thumbnail -->

								</div><!-- portfolio-item -->

							</div><!-- qualys-item -->

							<div class="isotope-item categ-2">

								<div class="portfolio-item">

									<div class="portfolio-item-thumbnail">

										<img src="../static/images/portfolio/trendmicro.jpg" alt="">

										<div class="portfolio-item-hover">

											<div class="portfolio-item-details">

												<p>
													<a href="http://www.trendmicro.com" rel="external">Сайт компании</a>
												<p>

											</div><!-- portfolio-item-details -->


										</div><!-- portfolio-item-hover -->

									</div><!-- portfolio-item-thumbnail -->

								</div><!-- portfolio-item -->

							</div><!-- trendmicro-item -->

							<div class="isotope-item categ-1 categ-2">

								<div class="portfolio-item">

									<div class="portfolio-item-thumbnail">

										<img src="../static/images/portfolio/solarwinds.jpg" alt="">

										<div class="portfolio-item-hover">

											<div class="portfolio-item-details">

												<p>
													<a href="http://www.solarwinds.com/" rel="external">Сайт компании</a>
												<p>

											</div><!-- portfolio-item-details -->


										</div><!-- portfolio-item-hover -->

									</div><!-- portfolio-item-thumbnail -->

								</div><!-- portfolio-item -->

							</div><!-- solarwinds-item -->


						</div><!-- isotope -->

                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- container -->


			<br><br>
   </div>

{% endblock %}