{% extends "base_notfullscreen.html" %}
{% block content %}
   <div id="content">
	   <script>
	   (function($){$(".projects").addClass("active");})(jQuery);
	   </script>
	<br>
			<div class="container">
				<div class="row">
					<div class="col-sm-12">

						<div class="headline">

							<h1>Наши проекты</h1>

						</div><!-- headline -->

					</div><!-- col -->
				</div><!-- row -->
			</div> <!-- О компании -->
			<div class="container">
                <div class="row">
                    <div class="col-sm-12">

                        <ul class="filter">
                            <li>
                                <a class="active" href="#" data-filter="*">Все проекты</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".categ-1">ИТ системы</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".categ-2">ИБ системы</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".categ-3">Опенсорс решения</a>
                            </li>
							<li>
                                <a href="#" data-filter=".categ-4">Консалтинг</a>
                            </li>
							<li>
                                <a href="#" data-filter=".categ-5">Антифрод</a>
                            </li>
                        </ul>

                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- container -->

			<div class="container">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="isotope col-4 gutter">

							<div class="isotope-item categ-2 categ-5">

								<div class="portfolio-item">

									<div class="portfolio-item-thumbnail">

										<img src="../static/images/portfolio/bspb.jpg" alt="">

										<div class="portfolio-item-hover">

											<div class="portfolio-item-details">

												<p>
													<a href="https://www.bspb.ru/" rel="external">Сайт компании</a><br>
													<br>
													<a href="bspb-portfolio-single">Подробнее о проектах</a>
												<p>

											</div><!-- portfolio-item-details -->

										</div><!-- portfolio-item-hover -->

									</div><!-- portfolio-item-thumbnail -->

								</div><!-- portfolio-item -->

							</div><!-- bspb-item -->

							<div class="isotope-item categ-2">

								<div class="portfolio-item">

									<div class="portfolio-item-thumbnail">

										<img src="../static/images/portfolio/zeppelin.jpg" alt="">

										<div class="portfolio-item-hover">

											<div class="portfolio-item-details">

												<p>
													<a href="http://www.zeppelin.ru/#" rel="external">Сайт компании</a><br>
													<br>
													<a href="zeppelin-portfolio-single">Подробнее о проектах</a>
												<p>

											</div><!-- portfolio-item-details -->


										</div><!-- portfolio-item-hover -->

									</div><!-- portfolio-item-thumbnail -->

								</div><!-- portfolio-item -->

							</div><!-- zeppelin-item -->

							<div class="isotope-item categ-5">

								<div class="portfolio-item">

									<div class="portfolio-item-thumbnail">

										<img src="../static/images/portfolio/bcs.jpg" alt="">

										<div class="portfolio-item-hover">

											<div class="portfolio-item-details">

												<p>
													<a href="https://bcs-bank.com/" rel="external">Сайт компании</a><br>
													<br>
													<a href="bcs-portfolio-single">Подробнее о проектах</a>
												<p>
											</div><!-- portfolio-item-details -->

										</div><!-- portfolio-item-hover -->

									</div><!-- portfolio-item-thumbnail -->

								</div><!-- portfolio-item -->

							</div><!-- bcs-item -->

							<div class="isotope-item categ-2">

								<div class="portfolio-item">

									<div class="portfolio-item-thumbnail">

										<img src="../static/images/portfolio/sdm.jpg" alt="">

										<div class="portfolio-item-hover">

											<div class="portfolio-item-details">

												<p>
													<a href="http://www.sdm.ru/" rel="external">Сайт компании</a><br>
													<br>
													<a href="sdm-portfolio-single">Подробнее о проектах</a>
												<p>
											</div><!-- portfolio-item-details -->


										</div><!-- portfolio-item-hover -->

									</div><!-- portfolio-item-thumbnail -->

								</div><!-- portfolio-item -->

							</div><!-- sdm-item -->

							<div class="isotope-item categ-2">

								<div class="portfolio-item">

									<div class="portfolio-item-thumbnail">

										<img src="../static/images/portfolio/ria.jpg" alt="">

										<div class="portfolio-item-hover">

											<div class="portfolio-item-details">

												<p>
													<a href="http://ria.ru/docs/about/" rel="external">Сайт компании</a><br>
													<br>
													<a href="bks-portfolio-single">Подробнее о проектах</a>
												<p>


											</div><!-- portfolio-item-details -->


										</div><!-- portfolio-item-hover -->

									</div><!-- portfolio-item-thumbnail -->

								</div><!-- portfolio-item -->

							</div><!-- ria-item -->

							<div class="isotope-item categ-3 categ-2">

								<div class="portfolio-item">

									<div class="portfolio-item-thumbnail">

										<img src="../static/images/portfolio/inpas.jpg" alt="">

										<div class="portfolio-item-hover">

											<div class="portfolio-item-details">

												<p>
													<a href="http://www.inpas.ru" rel="external">Сайт компании</a><br>
													<br>
													<a href="inpas-portfolio-single">Подробнее о проектах</a>
												<p>

											</div><!-- portfolio-item-details -->


										</div><!-- portfolio-item-hover -->

									</div><!-- portfolio-item-thumbnail -->

								</div><!-- portfolio-item -->

							</div><!-- inpas-item -->

							<div class="isotope-item categ-1 categ-2">

								<div class="portfolio-item">

									<div class="portfolio-item-thumbnail">

										<img src="../static/images/portfolio/tpt.jpg" alt="">

										<div class="portfolio-item-hover">

											<div class="portfolio-item-details">

												<p>
													<a href="http://tft-sensor.ru/" rel="external">Сайт компании</a><br>
													<br>
													<a href="tpt-portfolio-single">Подробнее о проектах</a>
												<p>

											</div><!-- portfolio-item-details -->


										</div><!-- portfolio-item-hover -->

									</div><!-- portfolio-item-thumbnail -->

								</div><!-- portfolio-item -->

							</div><!-- tpt-item -->

							<div class="isotope-item categ-2">

								<div class="portfolio-item">

									<div class="portfolio-item-thumbnail">

										<img src="../static/images/portfolio/uzcard.jpg" alt="">

										<div class="portfolio-item-hover">

											<div class="portfolio-item-details">

												<p>
													<a href="http://uzcard.uz/index.php/ru/" rel="external">Сайт компании</a><br>
													<br>
													<a href="uzcard-portfolio-single">Подробнее о проектах</a>
												<p>

											</div><!-- portfolio-item-details -->


										</div><!-- portfolio-item-hover -->

									</div><!-- portfolio-item-thumbnail -->

								</div><!-- portfolio-item -->

							</div><!-- uzcard-item -->

							<div class="isotope-item categ-4">

								<div class="portfolio-item">

									<div class="portfolio-item-thumbnail">

										<img src="../static/images/portfolio/niikristall.jpg" alt="">

										<div class="portfolio-item-hover">

											<div class="portfolio-item-details">

												<p>
													<a href="http://niikristall.ru/" rel="external">Сайт компании</a><br>
													<br>
													<a href="niikristall-portfolio-single">Подробнее о проектах</a>
												<p>


											</div><!-- portfolio-item-details -->


										</div><!-- portfolio-item-hover -->

									</div><!-- portfolio-item-thumbnail -->

								</div><!-- portfolio-item -->

							</div><!-- niikristall-item -->

							<div class="isotope-item categ-1">

								<div class="portfolio-item">

									<div class="portfolio-item-thumbnail">

										<img src="../static/images/portfolio/cbddmo.jpg" alt="">

										<div class="portfolio-item-hover">

											<div class="portfolio-item-details">

												<p>
													<a href="http://cbddmo.ru/" rel="external">Сайт компании</a><br>
													<br>
													<a href="cbddmo-portfolio-single">Подробнее о проектах</a>
												<p>


											</div><!-- portfolio-item-details -->


										</div><!-- portfolio-item-hover -->

									</div><!-- portfolio-item-thumbnail -->

								</div><!-- portfolio-item -->

							</div><!-- cbddmo-item -->



						</div><!-- isotope -->

                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- container -->

			<br><br>
   </div>

{% endblock %}