{% extends "base_notfullscreen.html" %}
{% block content %}
   <div id="content">
	   	   <script>
	   (function($){ $(".service").addClass("active");})(jQuery);
	   </script>
			<br>
			<div class="container">
				<div class="row">
					<div class="col-sm-12">

						<div class="headline">

							<h1>Решения и Услуги</h1>

						</div><!-- headline -->

					</div><!-- col -->
				</div><!-- row -->
			</div>

			<div class="container">
				<div class="row">
					<div class="col-sm-4">

						<div class="service-box style-2 wow fadeInDown">

							<i class="mt-icons-sun"></i>

							<div class="service-box-content">

								<h5><a href="single-service.html">ИТ инженерия</a></h5>

								<p>Duis aute irure dolor in reprehenderit in dolor velit esse cillum dolore eu fugiat nulla. </p>

								<p><a href="single-service.html">Читать далее</a></p>

							</div><!-- service-box-content -->

						</div><!-- service-box -->

					</div><!-- col -->
					<div class="col-sm-4">

						<div class="service-box style-2 wow fadeInDown" data-wow-delay="0.2s">

							<i class="mt-icons-medal"></i>

							<div class="service-box-content">

								<h5><a href="single-service.html">Защита информации</a></h5>

								<p>Nulla euismod massa massa, eget semper ipsum convallis eu nam massa eros laoreet. </p>

								<p><a href="single-service.html">Читать далее</a></p>

							</div><!-- service-box-content -->

						</div><!-- service-box -->

					</div><!-- col -->
					<div class="col-sm-4">

						<div class="service-box style-2 wow fadeInDown" data-wow-delay="0.4s">

							<i class="mt-icons-levels"></i>

							<div class="service-box-content">

								<h5><a href="single-service.html">Техническая поддержка</a></h5>

								<p>Nulla euismod massa massa, eget semper ipsum convallis eu nam massa eros laoreet. </p>

								<p><a href="single-service.html">Читать далее</a></p>

							</div><!-- service-box-content -->

						</div><!-- service-box -->

					</div><!-- col -->
				</div><!-- row -->
			</div><!-- container -->


			<div class="container">
				<div class="row">
					<div class="col-sm-4">

						<div class="service-box style-2 wow fadeInDown">

							<i class="mt-icons-code"></i>

							<div class="service-box-content">

								<h5><a href="single-service.html">Борьба с мошенничеством</a></h5>

								<p>Cras interdum est vel lectus vehicula congue. Maecenas ac nisi id purus iaculis aliquet. </p>

								<p><a href="single-service.html">Читать далее</a></p>

							</div><!-- service-box-content -->

						</div><!-- service-box -->

					</div><!-- col -->
					<div class="col-sm-4">

						<div class="service-box style-2 wow fadeInDown" data-wow-delay="0.2s">

							<i class="mt-icons-badge"></i>

							<div class="service-box-content">

								<h5><a href="single-service.html">Консалтинг</a></h5>

								<p>Phasellus ligula purus, tempor eget lacus semper, eget mauris ut odio dolor velit. </p>

								<p><a href="single-service.html">Читать далее</a></p>

							</div><!-- service-box-content -->

						</div><!-- service-box -->

					</div><!-- col -->
					<div class="col-sm-4">

						<div class="service-box style-2 wow fadeInDown" data-wow-delay="0.4s">

							<i class="mt-icons-play"></i>

							<div class="service-box-content">

								<h5><a href="single-service.html">Опенсорс решения</a></h5>

								<p>Fusce eget mauris ut odio suscipit feugiat. Duis a eros risus maecenas rutrum nunc. </p>

								<p><a href="single-service.html">Читать далее</a></p>

							</div><!-- service-box-content -->

						</div><!-- service-box -->

					</div><!-- col -->
				</div><!-- row -->
			</div><!-- container -->

			<br><br>

   </div>
{% endblock %}