{% extends "base_notfullscreen.html" %}
{% block content %}
   <div id="content">
	   	   <script>
	   (function($){$(".about").addClass("active");})(jQuery);
	   </script>
			<br>
			<div class="container">
				<div class="row">
					<div class="col-sm-12">

						<div class="headline">

							<h1>О компании</h1>

						</div><!-- headline -->

					</div><!-- col -->
				</div><!-- row -->
			</div> <!-- О компании -->

			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="sub-headline">
							<h3>Компания «Регнанс» - надежный и эффективный деловой партнер в области решения задач системной интеграции, работающий на рынке с 2013 года</h3>
						</div><!-- sub-headline -->
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-7">

						<div class="sub-headline">

							<h4>Наша специализация:</h4>

						</div><!-- sub-headline -->

						<ul class="arrow-list">
							<li>Информационная безопасность</li>
							<li>Серверные комплексы</li>
							<li>Системы хранения данных</li>
							<li>Сетевая инфраструктура</li>
							<li>Системы ИТ мониторинга</li>
							<li>Техническая поддержка</li>
							<li>Аналитическое сопровождение систем информационной безопасности</li>
							<li>Системы противодействия финансовому мошенничеству</li>
							<li>ИТ и ИБ консалтинг</li>
							<li>Решения на базе открытого програмнного обеспечения</li>
						</ul>

					</div><!-- col -->
					<div class="col-sm-5">
						<div class="sub-headline">

							<h4>Наши данные:</h4>


						</div><!-- sub-headline -->

						<ul class="arrow-list">
							<li>Полное наименование: Общество с ограниченной &nbsp;&nbsp;&nbsp;ответственностью «Регнанс Групп»</li>
							<li>ИНН/КПП: 7702818368/772601001 </li>
							<li>ОГРН: 1137746584469 </li>
							<li>Юридический адрес: 117105, г. Москва, Варшавское шоссе, 33 </li>
							<li>Почтовый адрес: 117105, г. Москва, Варшавское шоссе 33, &nbsp;&nbsp;&nbsp;офис 17 </li>
						</ul>

					</div><!-- col -->
				</div><!-- row -->
			</div><!-- container -->
   </div>
{% endblock %}