{% extends "base.html" %}
{% block content %}
	<div class="home-block">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h1 >
									Технологии как преимущество
								</h1>

							</div><!-- col -->
			</div><!-- row -->
		</div><!-- container -->
		<div class="container" style="margin-top: 10%;">
						<div class="row">
							<div class="col-sm-3">
							<div class="service-box style-6">
								<div class="service-box-image">
									<img alt="" src="../../static/images/icon/shield-with-thumb-up.png">
								</div>
								<div class="service-box-content">
									<h4>
										<a href="/service/infosecurity">Информационная безопасность</a>
									</h4>
										<p>Обеспечим безопасность Вашей ИТ инфраструктуры</p>

								</div>
							</div>
						</div>
							<div class="col-sm-3">
							<div class="service-box style-6">
								<div class="service-box-image">
									<img alt="" src="../../static/images/icon/servers-interface-symbol.png">
								</div>
								<div class="service-box-content">
									<h4>
										<a href="/service/itsystems">Вычислительная<br>инфраструктура</a>
									</h4>
										<p>Создадим, модернизируем Вашу ИТ инфраструктуру</p>

								</div>
							</div>
						</div>
							<div class="col-sm-3">
							<div class="service-box style-6">
								<div class="service-box-image">
									<img alt="" src="../../static/images/icon/screen.png">
								</div>
								<div class="service-box-content">
									<h4>
										<a href="/service/itsupport">Техническая<br>поддержка</a>
									</h4>
										<p>Настроим, починим и заставим работать Ваши ИТ ресурсы</p>

								</div>
							</div>
						</div>
							<div class="col-sm-3">
							<div class="service-box style-6">
								<div class="service-box-image">
									<img alt="" src="../../static/images/icon/screen-and-computer-tower.png">
								</div>
								<div class="service-box-content">
									<h4>
										<a href="/service/sales">Поставки<br>оборудования и ПО</a>
									</h4>
										<p>Качественно и в срок обеспечим Ваши нужды в технологиях</p>

								</div>
							</div>
						</div>

						</div>
					</div>
    </div><!-- PAGE-WRAPPER -->
{% endblock %}
