{% extends "base_notfullscreen.html" %}
{% block content %}
   <div id="content">
	   	   <script>
	   (function($){$(".about").addClass("active");})(jQuery);
	   </script>
			<br>
			<div class="container">
				<div class="row">
					<div class="col-sm-12">

						<div class="headline">

							<h1>Наши лицензии и сертификаты</h1>

						</div><!-- headline -->
						<div class="col-sm-6">
							<p>Лицензия № 006490 Федеральной службы по техническому и экспортному контролю на деятельность по технической защите конфиденциальной информации.</p>
							<p><img class="magnify-img" src="../static/images/license/tzki.jpg" data-magnify-src="../static/images/license/tzki.jpg" alt="" height="400px" width="275px"></p>
						</div>
						<div class="col-sm-6">
							<p>Сертификат соответствия требованиям ГОСТ Р ИСО 9001-2015 (ISO 9001:2015).</p>
							<br><br>
							<p><img class="magnify-img" src="../static/images/license/iso.jpg" data-magnify-src="../static/images/license/iso.jpg" alt="" height="400px" width="275px"></p>
						</div>
					</div><!-- col -->
				</div><!-- row -->
			</div> <!-- О компании -->

			<div class="container">
			</div><!-- container -->
   </div>
{% endblock %}